SOTA_ACCESS_KEY=<SOTA_ACCESS_KEY>
SOTA_API_ENABLED=false
SOTA_MODE=TUN
SOTA_LISTEN=127.0.0.1:16698
SOTA_GATE_ID=
SOTA_API_BASES=https://meowconnect.com/api/v1,https://sota.ac/api/v1
SOTA_LOG_LEVEL=info
SOTA_USER_AGENT=Sota Connect (v1.7.7/windows)
SOTA_ACCEPT_LANGUAGE=ru
SOTA_HWID=
SOTA_DEVICE_NAME=

SING_BOX_BIN=
SING_BOX_DIR=./bin
SING_BOX_VERSION=v1.13.11

SOTA_PROXY_LISTEN=127.0.0.1:2080
